<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Расписание</title>
    <div th:replace="~{commons :: head}"></div>
</head>
<body>
<div th:replace="~{commons :: nav}"></div>
<div th:replace="~{commons :: banner_area}"></div>
<section class="schedule-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h6>Для отображения другого дня, выберите дату</h6>
                    <form action="/daily" method="GET">
                        <p>
                            <label for="date">Перейти к: </label>
                            <input type="date" id="date" name="strDate" required/>
                        </p>
                        <p>
                            <button type="submit" class="template-btn">Перейти</button>
                        </p>
                    </form>
                    <script>
                        document.getElementById('date').valueAsDate = new Date();
                     </script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h3 th:text="'расписание на '+${date}">schedule your fitness process</h3>
                </div>
            </div>
        </div>
        <div class="row" th:if="${entity == null}">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h4>На выбранную дату расписания нет</h4>
                    <a th:href="'/daily/create/'+${date}">Создать</a>
                </div>
            </div>
        </div>
        <div th:each="time : ${times}" th:if="${entity != null}">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h5 th:text="${time}">Time name</h5>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="table-wrap col-lg-10">
                    <table class="schdule-table table">
                        <thead class="thead-light">
                        <tr>
                            <th class="head" scope="col">Картинка</th>
                            <th class="head" scope="col">Продукт</th>
                            <th class="head" scope="col">Грамм</th>
                            <th class="head" scope="col">Ккал</th>
                            <th class="head" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody th:each="dailyMeal : ${entity.mealForDays}" th:if="${dailyMeal.time.id == time.id}">
                        <tr th:each="mapItem:${dailyMeal.products}">
                            <th class="name" scope="row"><img th:src="${mapItem.key.image}" class="entityImage"></th>
                            <td th:text="${mapItem.key.name}">02.00</td>
                            <td th:text="${mapItem.value}">10.00</td>
                            <td th:text="${mapItem.key.kkalIn1gr * mapItem.value}">02.00</td>
                            <td class="btnInTable widthLastCol">
                                <form action="/daily/deleteProduct" method="POST" class="justify-content-center d-flex">
                                    <input type="number" required name="time" th:value="${time.id}" hidden>
                                    <input type="number" required name="daily" th:value="${entity.id}" hidden>
                                    <input type="number" required name="product" th:value="${mapItem.key.id}" hidden>
                                    <button type="submit" class="btn btn-primary mx-2">Удалить</button>
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th class="name" scope="row">Итого</th>
                            <td>Получено</td>
                            <td th:text="${dailyMeal.getAllKkalInTime()}">10.00</td>
                            <td>Ккал</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="d-flex justify-content-end">
            <form action="/daily" method="POST" class="justify-content-center d-flex">
                <input type="number" required name="time" th:value="${time.id}" hidden>
                <input type="number" required name="daily" th:value="${entity.id}" hidden>
                <button type="submit" class="btn btn-primary mx-2">Добавить запись</button>
            </form>
            </p>
            <br><br><br>
        </div>
        <div th:if="${entity != null}">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h5>Активность</h5>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="table-wrap col-lg-10">
                    <table class="schdule-table table">
                        <thead class="thead-light">
                        <tr>
                            <th class="head" scope="col">Активность</th>
                            <th class="head" scope="col">Минут</th>
                            <th class="head" scope="col">Потеряно ккал</th>
                            <th class="head" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="exercise : ${entity.exercises}">
                            <td th:text="${exercise.key.name}">02.00</td>
                            <td th:text="${exercise.value}">10.00</td>
                            <td th:text="${exercise.key.kkalInMinute * exercise.value}">02.00</td>
                            <td class="btnInTable widthLastCol">
                                <form action="/daily/deleteExercise" method="POST" class="justify-content-center d-flex">
                                    <input type="number" required name="daily" th:value="${entity.id}" hidden>
                                    <input type="number" required name="exercise" th:value="${exercise.key.id}" hidden>
                                    <button type="submit" class="btn btn-primary mx-2">Удалить</button>
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th class="name" scope="row">Итого Потеряно</th>
                            <td th:text="${entity.getAllExercisesKkal()}">10.00</td>
                            <td>Ккал</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="d-flex justify-content-end">
            <form action="/daily/exercisePage" method="POST" class="justify-content-center d-flex">
                <input type="number" required name="daily" th:value="${entity.id}" hidden>
                <button type="submit" class="btn btn-primary mx-2">Добавить запись</button>
            </form>
            </p>
            <br><br><br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h5>Итого за день</h5>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="table-wrap col-lg-10">
                    <table class="schdule-table table">
                        <thead class="thead-light">
                        <tr>
                            <th class="head" scope="col">Получено</th>
                            <th class="head" scope="col">Потрачено</th>
                            <th class="head" scope="col">Разница</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${entity.getAllProductsKkal()}">02.00</td>
                            <td th:text="${entity.getAllExercisesKkal()}">10.00</td>
                            <td th:text="${entity.getAllProductsKkal()-entity.getAllExercisesKkal()}">02.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{commons :: friend_area-starts}"></div>
<div th:replace="~{commons :: footer}"></div>
</body>
</html>