<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <div th:replace="~{commons :: head}"></div>
</head>
<body>
<div th:replace="~{commons :: nav}"></div>

<div th:replace="~{commons :: banner_area}"></div>

<section class="about-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                <h3>Добро пожаловать на нашу платформу</h3>
                <p>Здоровье дается человеку один раз и на всю жизнь, так что к нему нужно относиться бережно. Никто не
                    будет спорить, что заниматься спортом полезно для здоровья, однако, один только спорт не решит
                    проблему, если продолжать есть все подряд.</p>
                <p>Чтоб похудеть или держать себя в форме, необходимо тратить больше каллорий, чем получаешь. Наш сайт
                    поможет вам отслеживать все эти данные. Больше не нужно вручную высчитывать сколько каллорий вы
                    получите сьев то или иное блюдо, не нужно будет проводить расчеты, сколько всео вышло за день
                    Достаточно внести только граммовки того что вы если - и наш сайт позаботиться обо всем за вас!</p>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <img class="img-fluid" src="/images/about.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="feature-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h3>Заметки про здоровье</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature mb-5 mb-lg-0">
                    <div class="feature-img">
                        <img src="/images/feature1.jpg" alt="">
                    </div>
                    <div class="feature-footer text-center">
                        <h5>Регулярные тренировки</h5>
                        <p>Для поддержания своего тела заниматься нужжно резулярно. Мышцы сжигаются гораздо быстрее и
                            охотнее жира</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature mb-5 mb-lg-0">
                    <div class="feature-img">
                        <img src="/images/feature2.jpg" alt="">
                    </div>
                    <div class="feature-footer text-center">
                        <h5>Правильное питание</h5>
                        <p>Если вы хотите скинуть весь и/или быть здоровым, стоит позаботиться о правильном питании.
                            Никакие тренировки не помогут, если вы после них будете съедать по пицце</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="feature-img">
                        <img src="/images/feature3.jpg" alt="">
                    </div>
                    <div class="feature-footer text-center">
                        <h5>Отдых важен</h5>
                        <p>Когда человек тренируется, его мышцы рвутся, после чего телу нужно дать отдохнуть. Если этого
                            не делать, то тренировки не принесут пользы и могут даже навредить телу</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 offset-xl-7 col-lg-6 offset-lg-6">
                <div class="section-top">
                    <h3>Наши услуги</h3>
                </div>
                <div class="single-service d-flex mb-4">
                    <div class="serv-icon mr-4">
                        <img src="/images/serv-icon1.png" alt="">
                    </div>
                    <div class="serv-text">
                        <h5>Потребляемые калории</h5>
                        <p>Большинство сервисов позволяет подсчитывать полько получаемые каллории, основвываясь на
                            употребляемой еде. Мы же пошли дальше и учитываем насколько вы активный</p>
                    </div>
                </div>
                <div class="single-service d-flex mb-4">
                    <div class="serv-icon mr-4">
                        <img src="/images/serv-icon2.png" alt="">
                    </div>
                    <div class="serv-text">
                        <h5>Полученные калории</h5>
                        <p>Достаточно ввести что за еду вы если и сколько грамм, как наш сервис сам высчитает, сколько
                            каллорий это заняло. Кроме того, добавлена возможность предлагать свои блюда!</p>
                    </div>
                </div>
                <div class="single-service d-flex">
                    <div class="serv-icon mr-4">
                        <img src="/images/serv-icon3.png" alt="">
                    </div>
                    <div class="serv-text">
                        <h5>Автоматический расчет</h5>
                        <p>Сервис позволяет в автоматическом режиме получать данные как о полученных калориях, так и о
                            потребляемых как за весь день, так и за отдельный период времени</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bmi-area section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="bmi-text">
                    <h3>Калькулятор нормы калорий и ИМТ</h3>
                    <p class="py-3">
                        Онлайн-калькулятор суточной массы каллорий и индекса массы тела (ИМТ) поможет понять, у вас
                        норма или нет для поддержания формы, набора веса или похудения. Укажите ваши параметры и система
                        сделает расчет автоматически!
                    </p>
                    <form action="#" id="bmi">
                        <div class="form-group">
                            <label for="age">Ваш возраст:</label>
                            <input type="number" id="age" name="age" required min="1" max="256">
                        </div>
                        <div class="form-group">
                            <label for="weight">Ваш вес (кг):</label>
                            <input class="calculations" type="number" name="weight" size="10" max="200" min="20"
                                   required step="0.1">
                        </div>
                        <div class="form-group">
                            <label for="height">Ваш рост (сш):</label>
                            <input class="calculations" type="number" name="height" size="10" required min="40"
                                   max="300" step="0.1">
                        </div>
                        <div class="form-group">
                            <label for="gender">Ваш пол:</label>
                            <div>
                                <input type="radio" id="man" name="gender" value="0"
                                       checked>
                                <label for="man">Мужской</label>
                            </div>
                            <div>
                                <input type="radio" id="woman" name="gender" value="1">
                                <label for="woman">Женский</label>
                            </div>
                        </div>
                        <div>
                            <label for="activn">Активность:</label>
                            <div>
                                <select onchange="test()" id="activn" name="activn">
                                    <option value="1.2">сидячая работа + отсутствие или редкие занятия фитнесом</option>
                                    <option value="1.375">сидячая работа + занятия фитнесом 1-3 раза/неделю</option>
                                    <option value="1.55">средняя активность + занятия фитнесом 3-5 раз/неделю</option>
                                    <option value="1.7">высокая активность + занятия фитнесом 6-7 раз/неделю</option>
                                    <option value="1.9">тяжёлая физическая работа + занятия фитнесом</option>
                                </select>
                            </div>
                        </div>
                        <div class="bmi-btn pt-4">
                            <input class="template-btn" type="submit" id="calculateBMI" name="verify"
                                   value="Узнать результат">
                        </div>
                        <div class="myResult">
                            <div class="form-group pt-4">
                                <label for="bmi">Результат ИМТ:</label>
                                <input class="calculations" type="text" id="dopeBMI" size="10" readonly>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="bmi">Комментарий</label>
                                <input type="text" id="meaning" size="30" readonly>
                            </div>
                            <div class="form-group">
                                <label for="bmi">Суточная норма каллорий</label>
                                <input type="text" id="norm" name="norm" size="30" readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 align-self-center mt-5 mt-lg-0">
                <div class="bmi-img">
                    <img src="/images/bmi.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{commons :: footer}"></div>
</body>
</html>
