<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Schedule</title>
    <div th:replace="~{commons :: head}"></div>
</head>
<body>
    <!-- Header Area Starts -->
    <div th:replace="~{commons :: nav}"></div>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <div th:replace="~{commons :: banner_area}"></div>
    <!-- Banner Area End -->

    <!-- Schedule Area Starts -->
    <section class="schedule-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h3>schedule your fitness process</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
				<div class="table-wrap col-lg-10">
					<table class="schdule-table table">
						<thead class="thead-light">
							<tr>
								<th class="head" scope="col">Course name</th>
								<th class="head" scope="col">mon</th>
								<th class="head" scope="col">tue</th>
								<th class="head" scope="col">wed</th>
								<th class="head" scope="col">thu</th>
								<th class="head" scope="col">fri</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="name" scope="row">Flex muscle</th>
								<td>02.00</td>
								<td>10.00</td>
								<td>02.00</td>
								<td>02.00</td>
								<td>10.00</td>
							</tr>
							<tr>
								<th class="name" scope="row">welghtifting</th>
								<td>02.00</td>
								<td>10.00</td>
								<td>02.00</td>
								<td>02.00</td>
								<td>10.00</td>
							</tr>
							<tr>
								<th class="name" scope="row">target specific muscle</th>
								<td>02.00</td>
								<td>10.00</td>
								<td>02.00</td>
								<td>02.00</td>
								<td>10.00</td>
							</tr>
							<tr>
								<th class="name" scope="row">Flex muscle</th>
								<td>02.00</td>
								<td>10.00</td>
								<td>02.00</td>
								<td>02.00</td>
								<td>10.00</td>
							</tr>
							<tr>
								<th class="name" scope="row">welghtifting</th>
								<td>02.00</td>
								<td>10.00</td>
								<td>02.00</td>
								<td>02.00</td>
								<td>10.00</td>
							</tr>
							<tr>
								<th class="name" scope="row">target specific muscle</th>
								<td>02.00</td>
								<td>10.00</td>
								<td>02.00</td>
								<td>02.00</td>
								<td>10.00</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
        </div>
    </section>
    <!-- Schedule Area End -->

    <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h3>featured classes</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature mb-5 mb-lg-0">
                        <div class="feature-img">
                            <img src="/images/feature1.jpg" alt="">
                            <div class="hover-state">
                                <a href="#" class="template-btn">details</a>
                            </div>
                        </div>
                        <div class="feature-footer text-center">
                            <h5>cycling training</h5>
                            <p>Hath creeping subdue he fish green face whose spirit that seasons today multiply female midst upon</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature mb-5 mb-lg-0">
                        <div class="feature-img">
                            <img src="/images/feature2.jpg" alt="">
                            <div class="hover-state">
                                <a href="#" class="template-btn">details</a>
                            </div>
                        </div>
                        <div class="feature-footer text-center">
                            <h5>tone muscle</h5>
                            <p>Hath creeping subdue he fish green face whose spirit that seasons today multiply female midst upon</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <div class="feature-img">
                            <img src="/images/feature3.jpg" alt="">
                            <div class="hover-state">
                                <a href="#" class="template-btn">details</a>
                            </div>
                        </div>
                        <div class="feature-footer text-center">
                            <h5>meditation work</h5>
                            <p>Hath creeping subdue he fish green face whose spirit that seasons today multiply female midst upon</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->

    <!-- Service Area Starts -->
    <section class="service-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 offset-xl-7 col-lg-6 offset-lg-6">
                    <div class="section-top">
                        <h3>our service</h3>
                    </div>
                    <div class="single-service d-flex mb-4">
                        <div class="serv-icon mr-4">
                            <img src="/images/serv-icon1.png" alt="">
                        </div>
                        <div class="serv-text">
                            <h5>personal training</h5>
                            <p>Two herb creature bearing signs won't void signs eve female every together Thin thiIsnrnyou're every fourth cattle thermal grid line accrose</p>
                        </div>
                    </div>
                    <div class="single-service d-flex mb-4">
                        <div class="serv-icon mr-4">
                            <img src="/images/serv-icon2.png" alt="">
                        </div>
                        <div class="serv-text">
                            <h5>boxing training</h5>
                            <p>Two herb creature bearing signs won't void signs eve female every together Thin thiIsnrnyou're every fourth cattle thermal grid line accrose</p>
                        </div>
                    </div>
                    <div class="single-service d-flex">
                        <div class="serv-icon mr-4">
                            <img src="/images/serv-icon3.png" alt="">
                        </div>
                        <div class="serv-text">
                            <h5>fitness training</h5>
                            <p>Two herb creature bearing signs won't void signs eve female every together Thin thiIsnrnyou're every fourth cattle thermal grid line accrose</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service Area End -->

    <!-- Client Area Starts -->
    <section class="client-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h3>happy client says</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="client-slider owl-carousel">
                        <div class="single-slide d-flex">
                            <div class="slide-img mr-4">
                                <img src="/images/client1.png" alt="">
                            </div>
                            <div class="slide-text">
                                <p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>
                                <h5>danyel yarde</h5>
                                <h6>CEO & founder</h6>
                            </div>
                        </div>
                        <div class="single-slide d-flex">
                            <div class="slide-img mr-4">
                                <img src="/images/client2.png" alt="">
                            </div>
                            <div class="slide-text">
                                <p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>
                                <h5>Manyel yarde</h5>
                                <h6>CEO & founder</h6>
                            </div>
                        </div>
                        <div class="single-slide d-flex">
                            <div class="slide-img mr-4">
                                <img src="/images/client3.png" alt="">
                            </div>
                            <div class="slide-text">
                                <p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>
                                <h5>Sanyel yarde</h5>
                                <h6>CEO & founder</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Client Area End -->

    <!-- Friend Area Starts -->
    <div th:replace="~{commons :: friend_area-starts}"></div>
    <!-- Friend Area End -->

    <!-- Footer Area Starts -->
    <div th:replace="~{commons :: footer}"></div>

</body>
</html>
