<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Пользователи</title>
    <div th:replace="~{commons :: head}"></div>
</head>

<body>

<div th:replace="~{commons :: nav}"></div>

<div th:replace="~{commons :: banner_area}"></div>


<section class="list">
    <div class="container my-2">
        <div class="card">
            <div class="row">
                <div class="card-body col">
                    <h2 class="text-center"> Пользователи</h2>
                    <div th:switch="${list}" class="container my-5">
                        <div class="col-md-12">
                            <h2 th:case="null"> Записей не найдено </h2>
                            <div th:case="*" class="overScroll">
                                <table class="table table-striped table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th>ФИО</th>
                                        <th>Почта</th>
                                        <th>Дата рождения</th>
                                        <th>Логин</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="entity : ${list}">
                                        <td th:text="${entity.fio}"></td>
                                        <td th:text="${entity.email}"></td>
                                        <td th:text="${entity.dateBorn}"></td>
                                        <td th:text="${entity.username}"></td>
                                        <td class="btnInTable widthLastCol">
                                            <a th:href="@{/users/edit/{id}(id=${entity.id})}" class="btn btn-primary">
                                                Редактировать
                                            </a>
                                        </td>
                                        <td class="btnInTable widthLastCol">
                                            <a th:href="@{/users/delete/{id}(id=${entity.id})}" class="btn btn-danger">
                                                Удалить
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="d-flex justify-content-end">
                                <a href="/users/edit" class="btn btn-primary mx-2">
                                    Добавить запись</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{commons :: footer}"></div>
</body>

</html>